[submodule "3p/src/doctest"]
	path = 3p/src/doctest
	url = https://github.com/onqtam/doctest.git
	branch = master
[submodule "3p/src/benchmark"]
	path = 3p/src/benchmark
	url = https://github.com/google/benchmark.git
	branch = master
[submodule "3p/src/fmt"]
	path = 3p/src/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "3p/src/farmhash"]
	path = 3p/src/farmhash
	url = https://github.com/google/farmhash.git
	branch = master
[submodule "3p/src/xxHash"]
	path = 3p/src/xxHash
	url = https://github.com/Cyan4973/xxHash.git
	branch = master
[submodule "3p/src/Clara"]
	path = 3p/src/Clara
	url = https://github.com/catchorg/Clara.git
	branch = master
[submodule "3p/src/Celero"]
	path = 3p/src/Celero
	url = https://github.com/DigitalInBlue/Celero.git
	branch = master
[submodule "3p/src/wyhash"]
	path = 3p/src/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
	branch = master
